# Fichiers compilés et de sortie de build
/dev/target/
/dev/bin/
*.class
*.jar
*.war
*.ear

# Fichiers générés par Maven
.mvn/
mvnw
mvnw.cmd

# Fichiers de log
*.log
hs_err_pid*
replay_pid*

# Fichiers de configuration des IDE
.idea/
*.iml
.project
.classpath
.settings/
.DS_Store

# Fichiers générés par le jeu
/dev/scores.txt
/dev/leaderboard.txt

# Fichiers de configuration VSCode
.vscode/