.root {
    -fx-background-image: url("../images/forest_path_pixel.png");
    -fx-background-size: cover;
    -fx-font-family: 'LLPixel';
    -fx-text-fill: white;
}
Text {
    -fx-font-size: 52px;
    -fx-fill: #ffe28a;
    -fx-effect: dropshadow(gaussian, #3b1e00, 6, 0.8, 0, 2);
}
