.root {
    -fx-background-image: url("../images/forest_path_pixel.png");
    -fx-background-size: cover;
    -fx-font-family: 'LLPixel';
    -fx-text-fill: white;
}
Label {
    -fx-font-size: 18px; 
    -fx-text-fill: #ffe28a;
    -fx-effect: dropshadow(gaussian, #3b1e00, 6, 0.8, 0, 2);
}

Button {
    -fx-pref-width: 160px;
    -fx-pref-height: 70px;
    -fx-font-size: 20px; 
    -fx-text-fill: #fcebb3;
    -fx-background-color: rgba(34, 28, 26, 0.8);
    -fx-border-color: #c9af98;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #000000, 2, 0.5, 0, 1);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

Button:hover {
    -fx-background-color: rgba(255, 239, 184, 0.9);
    -fx-text-fill: #5a3e36;
    -fx-border-color: #ffffff;
    -fx-effect: dropshadow(gaussian, #ffeeaa, 4, 0.8, 0, 1);
}

Pane {
    -fx-background-size: 500px 700px;
    -fx-border-color: #c9af98;
    -fx-border-width: 2px;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

#gamePane {
    -fx-background-image: url("../images/brick_wall.png");
    -fx-border-width: 0px;

}

#previewPane {
    -fx-background-image: url("../images/brick_wall.png");

}

#scoreLabel {
    -fx-font-size: 22px;
    -fx-text-fill: #ffe28a;
    -fx-alignment: center;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}
