.root {
    -fx-background-image: url("../images/forest_path_pixel.png");
    -fx-background-size: cover;
    -fx-font-family: 'LLPixel';
    -fx-text-fill: white;
}

Text {
    -fx-font-size: 52px; 
    -fx-fill: #ffe28a;
    -fx-effect: dropshadow(gaussian, #3b1e00, 6, 0.8, 0, 2);
}

.text-field .text {
    -fx-effect: none;
}

TextField {
    -fx-background-color: #fff8dc;
    -fx-text-fill: #3b1e00;
    -fx-font-size: 20px;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #c9af98;
    -fx-border-width: 2px;
    -fx-padding: 5 10 5 10;
    -fx-effect: dropshadow(gaussian, #000000, 2, 0.5, 0, 1);
}

Button {
    -fx-pref-width: 160px;
    -fx-pref-height: 70px;
    -fx-font-size: 20px; 
    -fx-text-fill: #fcebb3;
    -fx-background-color: rgba(34, 28, 26, 0.8);
    -fx-border-color: #c9af98;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #000000, 2, 0.5, 0, 1);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

Button:hover {
    -fx-background-color: rgba(255, 239, 184, 0.9);
    -fx-text-fill: #5a3e36;
    -fx-border-color: #ffffff;
    -fx-effect: dropshadow(gaussian, #ffeeaa, 4, 0.8, 0, 1);
}

Slider {
    -fx-pref-width: 200px;
    -fx-font-size: 20px;
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

#MusicTitle {
    -fx-font-size: 30px;
}
